.link {
  color: var(--primary-text);
}
.tabWrap{
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
  padding: 6px;
  border-radius: 38px;
}


.buttonWrapper {
  margin-bottom: 32px;
}


  .textFieldName{
    font-weight: 600;
    font-size: 14px;
    // margin-bottom: 5px;
    height: 30px;

}

@include lg {
  .buttonWrapper {
    margin-bottom: 16px;
  }
}
