.link {
  color: var(--primary-text);
}

.buttonWrapper {
  margin-bottom: 32px;
}


  .textFieldName{
    font-weight: 600;
    font-size: 14px;
    // margin-bottom: 5px;
    height: 30px;

}

@include lg {
  .buttonWrapper {
    margin-bottom: 16px;
  }
}
