.accordionItem{
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 20px;

  .accordionButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
  
    &:hover{
      // box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
      border-radius: 14px;
      border: none;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .userDataWarp{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .userWrap{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .userImg{
          width: 50px;
          height:50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: rgba(146, 231, 180, 1);
        }
        .user{
          text-align: left;
          .userName{
            font-weight: 600;
            font-size: 16px;
          }
          .userTel{
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 122, 255, 1);
          }
        }
    
      }
      .phoneDataWrap{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 50px;

        .item{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 8px;

          .itemText{
            text-align: left;
            .phoneItemTitle{
              font-size: 12px;
              color: rgba(126, 123, 134, 1);
              line-height: 19px;
            }
            .phoneItemName{
              font-size: 14px;
              font-weight: 600;
              color: rgba(33, 31, 38, 1);
              span{
              font-weight: 400;

              }
            }
          }
        }
      
      }
    }
  }
  .title{
    font-size: 16px;
    font-weight: 600;
    color: rgba(33, 31, 38, 1);
  }
  .subTitle{
    font-size: 14px;
    font-weight: 400;
    color: rgba(33, 31, 38, 1);
  }
  .adressWrap{
    position:absolute;
    top: 20px;
    left: 40px;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 15px 16px;
    border-radius: 12px;
    .adressTitle{
      font-size: 22px;
      color: rgba(33, 31, 38, 1);
      font-weight: 600;
      line-height: 38px;

    }
    .adressDesk{
      color: rgba(126, 123, 134, 1);
      font-size: 12px;
      font-weight: 500;
   
      span{
        font-weight: 600;
        text-transform: uppercase;
      }

    }
  }
}


.address {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
  margin-bottom: 20px;
}

.addressText {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.addressCountry {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: #000000;
}

.addressCity {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
}


.noData{
  background-color: rgba(234, 235, 237, 1);
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.08) inset;
  color: rgba(33, 31, 38, 0.836);
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;

}