.text{
font-weight: 600;
font-size: 13px;
line-height: 16px;
letter-spacing: -0.08%;

}

.data{
font-weight: 400;
font-size: 13px;
line-height: 16px;
letter-spacing: -0.08%;
color: rgba(126, 123, 134, 1);
margin-top: 4px;
}