.navContainer {
  width: 100%;
  padding-left: 10%;
  padding-right: 2%;
  @media (max-width: 900px) {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    padding: 0px !important;
  }
}

.layoutContend {
  margin-top: 150px;
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    flex-direction: center;
    margin-top: 70px;
  }
}
.formWrapper {
  max-width: 450px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 900px) {
    // height: 60vh;
  // height: auto;

    // background-color: red;
  }
}

.contendWrap {
  @media (max-width: 900px) {
    width: 100% !important;
    padding:  20px;
  }
}

.imgWrap {
  @media (max-width: 900px) {
    display: none;
  }
}

.formWrapper2 {
  margin-top: 20px;
}

@include lg {
  .formWrapper2 {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
}
