.textFieldName{
    font-weight: 600;
    font-size: 14px;
    // margin-bottom: 5px;
    height: 30px;
    color: var(--primary-text);
}

.subTitle{
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: rgba(126, 123, 134, 1);
}

.nextBtn{
    width: fit-content;
    padding: 27px 28px !important;
    font-size: 18px;
    font-weight: 600;
     background-color: var(--primary) !important;
     margin-top: 30px;
  }