
.month {
    color: rgba(126, 123, 134, 1);
    font-weight: 400;
    border-bottom: 1px dashed rgba(126, 123, 134, 1);
    cursor: pointer;
  }

  .activeMonth{
    color: var(--primary);
    font-weight: 400;
    // border-bottom: 1px dashed rgba(126, 123, 134, 1);
    cursor: pointer;
  }