@include breakpoint-down(1190px) {
  .contentWrapper {
    flex-direction: column-reverse;
  }

  .topButtons {
    
  }
}

@include breakpoint-down(450px) {

  .topButton {
    font-size: 12px;
    padding: 10px;
  }
  
}

@include breakpoint-down(575px) {


  .topButtons {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    
  }

  .topButton {
    width: 100% !important;
  }
}