

.imgBox {
  position: relative;
}
.icon{
  position: absolute;
  top: -2px;
  right: -2px;
}
.nameEllipsis {
  // width: 70%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(33, 31, 38, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(33, 31, 38, 1);
}

.id{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(126, 123, 134, 1);
}

.imgLe{
  width: 72px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  object-fit: contain;
  border-style: inset;
 
}

.img{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border-style: inset;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);

}