$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin primary-btn {
  padding: 8px 12px;
  font-size: 14px;
  color: var(--base-white);
  border-radius: 8px;
  border: 1px solid var(--primary);
  background: var(--primary);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin element-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin justify-content-center {
  display: flex;
  justify-content: center;
}

@mixin justify-content-between {
  display: flex;
  justify-content: space-between;
}

@mixin align-items-center {
  display: flex;
  align-items: center;
}
