.react-datepicker-popper {
  z-index: 999 !important;
  left: 22px !important;
  @media (max-width: 600px) {
    left: 78px !important;
  }
}

.react-datepicker {
  display: flex !important;
  align-items: center !important;
}

.react-datepicker__month-container {
  padding: 20px 24px;
  height: 100%;

  &:not(:last-of-type) {
    border-right: 1px solid #eaecf0;
  }
  @media (max-width: 600px) {
    padding: 0 !important;
  }
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
}

.react-datepicker__current-month {
  margin-bottom: 12px;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: center !important;
  color: #344054 !important;
}

.react-datepicker__day-name {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  text-align: center !important;
  color: #344054 !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgba(0, 51, 153, 1)  !important;
  span{
    color: white !important;

  }
}

.react-datepicker__day--selected.react-datepicker__day--selected {
  // border-top-left-radius: 50% !important;
  // border-bottom-left-radius: 50% !important; 
  border-radius: 50% !important; 
  background-color: rgba(0, 51, 153, 1) !important;
  color: white !important;

  &:hover {
    // border-radius: 50% !important;
    color: white !important;
    background-color: rgba(0, 51, 153, 1) !important;
  }
  
}


.react-datepicker__day--selected .react-datepicker__day-text {
  color: #fff !important;
  
}

.react-datepicker__day--selected.react-datepicker__day--in-range {
 
  background-color: rgba(0, 51, 153, 1) !important;
  color: #fff !important;

}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 40px !important;
  height: 40px !important;
  margin: 0 !important;
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__day--outside-month {
  pointer-events: none !important;
  background-color: transparent !important;

  &:hover {
    background-color: transparent !important;
  }
}

.react-datepicker__day--in-range.react-datepicker__day--outside-month {
  background-color: transparent !important;
  color: #fff !important;

}


.react-datepicker__day {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-align: center !important;
  color: #344054 !important;
  border-radius: 0 !important;

  &:hover {
    background-color: rgba(0, 51, 153, 1) !important;
    color: white !important;
    // border-radius: 50% !important;
  }
}

.react-datepicker__day--range-start.react-datepicker__day--range-start {
  position: relative !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  color: #fff !important;

}

.react-datepicker__day--range-end.react-datepicker__day--range-end {
  position: relative !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  color: #fff !important;

}

.react-datepicker__day--range-start .react-datepicker__day-text,
.react-datepicker__day--range-end .react-datepicker__day-text {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  color: #fff !important;
  border-radius: 50% !important;
  background-color: rgba(0, 51, 153, 1) !important;
}

.react-datepicker__day--today {
  background-color: rgba(0, 51, 153, 1) !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day--in-range.react-datepicker__day--today {
  position: relative !important;
  background-color: rgba(0, 51, 153, 1) !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.react-datepicker__day--in-range {
  background-color: rgba(0, 51, 153, 1) !important;
  color: #ffffff !important;
  border-radius: 50%;
}

.react-datepicker__day--selecting-range-end{
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;

}

.react-datepicker__day--today {
  position: relative !important;

  &::after {
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 4px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    background-color: #007aff;
    content: "";
  }
}

.react-datepicker__navigation--previous {
  left: 20px !important;
  top: 32px !important;
  @media (max-width: 600px) {
    right: 100px !important;
    top: 10px !important;
  }
}

.react-datepicker__navigation--next {
  right: 100px !important;

  top: 28px !important;
  @media (max-width: 600px) {
    right: 100px !important;
    top: 10px !important;
  }
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--disabled {
  cursor: not-allowed !important;
  text-decoration: line-through !important ;
}

.react-datepicker__time-container {
  width: 100px !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 100px !important;
}
