.countrWrap{



  p{
    font-size: 16px;
    color: rgba(33, 31, 38, 1);
    font-weight: 400;
    line-height: 25px;
    span{
      font-weight: 600;
    }
  }
}

.disName{
  font-size: 13px;
  font-weight: 400;
  color: rgba(33, 31, 38, 1);
}
.flag {
  width: 29px;
  height: 18px;
}
.countryName{
  font-weight: 500;
  font-size: 13px;
  color: rgba(33, 31, 38, 1);
}

.ActiveRadio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 31, 38, 1);
}
.radio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(126, 123, 134, 1);
}

.input{
  width: 100%;
  max-height: 44px;
  position: relative;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--brand-300);
  &:not(:placeholder-shown) {
    background-color: white; 
   
  }
  &::placeholder {
    color: var(--brand-500);
    font-weight: 400;
  }
}

.itemWrap{
  background-color: white;
  border-radius: 12px;
  padding: 10px 30px;
  padding-bottom: 50px;
}
