.navbar {
  width: 100%;
  background-color: white;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 14px 16px;
  background: white;
  color: rgba(33, 31, 38, 1);
  font-size: 16px !important;
  font-weight: 500;
  border-bottom: 1px solid rgba(234, 236, 240, 1);

  &:hover {
    background: var(--chakra-colors-brand-50);
  }
}

.link.active {
  background: rgba(38, 189, 73, 1);
  color: white;
 .icon{
  svg {
    stroke: white !important;
    path {
      stroke: white !important;
    }
  }
 }
}

.link.disabled {
  color: rgba(126, 123, 134, 1);
  cursor: not-allowed;
  .icon{
    svg {
   
      path {
      fill: rgba(126, 123, 134, 1) !important;
  
      }
    }
  }
 
}

