.box {
  padding: 28px 32px;
  background-color: white;
  border-radius: 16px;
}
.image {
  width: 160px;
  height: 124px;
  border: 2.25px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-style: inset;
  object-fit: contain;
}
.radiusImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2.25px solid rgba(0, 0, 0, 0.1);
  border-style: inset;
}
.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(126, 123, 134, 1);
}
.noCar {
  font-style: italic;
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
  color: rgba(126, 123, 134, 1);
  text-align: center;
  padding: 6px 12px;
  background-color: rgba(246, 247, 248, 1);
  border-radius: 10px;
}
.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-top: 6px;
  color: rgba(33, 31, 38, 1);
}
.nameLink {
  width: fit-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(0, 51, 153, 1);
  margin-top: 6px;
  cursor: pointer;

  border-bottom: 1px dashed rgba(0, 51, 153, 1);
}

.subTitle1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: rgba(33, 31, 38, 1);
}

.gpsWrap {
  width: 25%;
  margin-left: auto;
  height: fit-content;
  padding: 20px 27px;
  border-radius: 10px;
}
.gruzId {
  color: rgba(0, 122, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}
.freeStatus {
  color: rgba(33, 31, 38, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: rgba(33, 31, 38, 1);
  .time {
    color: rgba(0, 122, 255, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
  }
}
