.container {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background: black;
  }
  
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 390px;
    height: 250px;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px dashed white;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    
  }
  
  .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    mask: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    mask-position: center;
    mask-size: 300px 200px;
    mask-repeat: no-repeat;
  }
  
  .button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result {
    width: 100%;
   height: 80vh;
   color: black;
  }
  