.map {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 24px;
}

.distanceInfo {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
}

.locationNames {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.0043em;
}

.distanceParams {
  display: flex;
  column-gap: 16px;
}

.distanceInfoTitle {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--primary);
}
