.loadsCard {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
}

.loadsCard.rejected {
  background-color: var(--error-50);
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--brand-200);
}

.address {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}

.addressText {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.addressCountry {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.addressCity {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
}

.addressStatus {
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.addressStatus.process {
  background: rgba(255, 204, 0, 0.15);
  color: #FF9500;
}

.addressStatus.in_active {
  background: rgba(255, 204, 0, 0.15);
  color: #FF9500;
}

.addressStatus.active {
  background: rgba(28, 139, 195, 0.07);
  color: #1C8BC3;
}

.addressStatus.in_moderation {
  background: rgba(28, 139, 195, 0.07);
  color: #1C8BC3;
}

.addressStatus.rejected {
  background: var(--error-100);
  color: var(--error-500);
}

.addressStatus.new {
  background: rgba(1, 145, 65, 0.07);
  color: #009241;
}

.addressStatus.approve_from_driver {
  background: rgba(255, 204, 0, 0.15);
  color: #FF9500;
}

.addressStatus.performed {
  background: rgba(255, 204, 0, 0.15);
  color: #FF9500;
}

.addressStatus.approve_by_customer {
  background: rgba(255, 204, 0, 0.15);
  color: #FF9500;
}

.addressStatus.cancellation {
  background: rgba(249, 79, 79, 0.07);
  color: #F64F56;
}

.addressStatus.archive {
  background: #EAECF0;
  color: #D0D5DD;
}

.distance {
  font-size: 15px;
  font-weight: 500;
  line-height: 14px;
  color: var(--primary);
}

// .paymentInfo {

// }

.paymentInfoContent {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.paymentInfoText {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary);
}

.paymentInfoSubText {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #84919A;
}

.paymentInfoComment {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: var(--brand-500);  
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--brand-200);
}

.cardListItem {
  display: flex;
  align-items: center;
  column-gap: 8px;

  dt {
    color: rgba(132, 145, 154, 0.8);
  }

  dd {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #303940;
  }
}

.cardBottom {
  padding-top: 16px;
  display: flex;
  column-gap: 8px;
}

.moderatorComment {
  display: flex;
  align-items: baseline;
  column-gap: 8px;
}

.moderatorCommentTitle {
  color: var(--error-500);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.moderatorCommentText {
  color: #303940;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;  
}

.rating {
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 24px;
}

.textarea {
  background-color: #F5F5F5;
}

.text {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;  
}