.title {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 32px;
  letter-spacing: 0%;
  text-decoration-thickness: 0%;
  height: 0px !important;
  width: fit-content !important;
  line-height: 0px !important;

  padding: 10px 0px !important;

  color: rgba(0, 122, 255, 1) !important;
  background-color: transparent !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
