.checkboxLabel {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--brand-300);
  background: var(--brand-white);
}

.checkboxInput:checked + .checkbox {
  border: 1px solid var(--primary);
  background-color: rgba(0, 122, 255, 0.05);
  background-image: url('/svg/check.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.checkboxLabel.filled .checkboxInput:checked + .checkbox {
  background-color: #2688EB;
  background-image: url('/svg/check-white.svg');
}

.checkboxText {
  user-select: none;
  margin-left: 8px;
  color: var(--brand-700);
  font-size: 14px;
  line-height: 20px;
}
