.footer {
  padding: 64px 0 48px 0;


  @media screen and (max-width: 775px) {
    padding: 34px 0 24px 0;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;


  @media screen and (max-width: 775px) {
    margin-bottom: 24px;
  }
}

.infoListWrapper {
  max-width: 302px;
}

.infoListTitle {
  margin-bottom: 16px;
  color: var(--brand-500);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.infoList {
  @include reset-list;
}

.infoItem {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.infoLink {
  color: var(--brand-600);
  font-weight: 600;
}

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid var(--brand-200);
  border-bottom: 1px solid var(--brand-200);
}

.mobileApps {
  display: flex;
  align-items: center;
  // column-gap: 16px;
}

.mobileAppsHeading {
  color: var(--brand-500);

  font-weight: 500;
  margin-bottom: 10px
}

.mobileAppList {
  @include reset-list;
  display: flex;
  column-gap: 16px;
}

.socialList {
  @include reset-list;
  display: flex;
  column-gap: 24px;
}

.footerBottom {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: var(--brand-500);
  font-weight: 400;
}


@include lg {
  .footerContent {
    flex-wrap: wrap;
  }

  .infoLink,
  .infoListTitle {
    font-size: 12px;
    line-height: 18px;
  }

  .infoListTitle {
    margin-bottom: 12px;
  }

  .footerSocials {
    flex-direction: column;
    align-items: start;
    padding-bottom: 10px;
  }

  .mobileApps {
    flex-direction: column;
    align-items: start;
  }

  .mobileAppsHeading {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .mobileAppList {
    margin-bottom: 32px;
  }

  .copyright {
    font-size: 8px;
  }
}

.link{
  opacity: 0;
  &:hover{
    opacity: 1;
    color: white;
  }
}
