.inputControl {
  width: 100%;
}

.inputWrapper {
  width: 100%;
  max-height: 44px;
  position: relative;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--brand-300);
  // background-color: var(--base-white);
  background-color: rgba(246, 247, 248, 1);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: box-shadow 0.3s ease;
}

.inputWrapper:has(.fieldInput:focus) {
  box-shadow: 0px 0px 0px 4px #e3f0ff;
}
.inputWrapper:has(.fieldInput:not(:placeholder-shown)) {
  background-color: white; 
}

.inputWrapper.error {
  border-color: var(--error-500);
  background-color: rgba(255, 234, 234, 1);
  .fieldInput {
    background-color: rgba(255, 234, 234, 1);
  }
}

.label {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-text);
}

.bottomText {
  color: var(--brand-600);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.fieldInput {
  width: 100%;
  height: 100%;

  outline: none;
  background-color: rgba(246, 247, 248, 1);
  &:not(:placeholder-shown) {
    background-color: white; 
   
  }
  &::placeholder {
    color: var(--brand-500);
    font-weight: 400;
  }
}

.hasAddonBefore {
  padding-left: 22px;
}

.before {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: var(--icon-base);
}

.after {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: var(--icon-base);
}

.errorMessage {
  position: relative;
  top: calc(0px);
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--error-500);
}
