.logoLInk {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 24px;
    font-weight: 600;
  }
}

.drawerText{

font-weight: 600;
font-size: 20px;
line-height: 20px;
letter-spacing: 0%;
color: rgba(33, 31, 38, 1);
}
.drawerSubText{

font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0%;
color: rgba(33, 31, 38, 1);
margin-top: 9px;
}