.checkboxLabel {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  align-items: center;
  cursor: pointer;
}

.checkbox {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid var(--brand-300);
  background: var(--brand-white);
  background-color: white;
  @media (max-width:872px) {
    width: 20px;
    height: 20px;
 }
}

.radio{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(213, 218, 221, 1);
  background: var(--brand-white);
  background-color: rgba(245, 245, 245, 1);
  @media (max-width:872px) {
    width: 20px;
    height: 20px;
 }
}

.activeRadio {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #2688EB;;
  background-color: #2688EB;;
  background-image: url('/svg/radio.svg');
  background-repeat: no-repeat;
  background-position: center center;
}


.checkboxInput:checked + .checkbox {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  background-image: url('/svg/check.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.checkboxInput:disabled + .checkbox,
.checkboxInput:disabled ~ .checkboxText {
  cursor: not-allowed;
}

.checkboxLabel.filled .checkboxInput:checked + .checkbox {
  background-color: #2688EB;
  background-image: url('/svg/check-white.svg');
}

.checkboxText {
  user-select: none;
  // margin-left: 8px;
  // color: var(--brand-700);
  font-size: 18px;
  font-weight: 400;

  line-height: 20px;
  @media (max-width:872px) {
    font-size: 16px;
 }
}

.checkboxTextNone{
  user-select: none;
  // margin-left: 8px;
  // color: rgba(126, 123, 134, 1);
  font-size: 18px;
  // font-weight: 500;
  font-weight: 400;
  line-height: 20px;
  @media (max-width:872px) {
    font-size: 16px;
 }
}



.checkbox2 {
  --size: 24px;
  --stroke-width: calc(var(--size) / 8);
  --color: #2688EB;
  --animation-timing-function: linear;
  --animation-duration: 1s;
  width: var(--size);
  height: var(--size);
  border-width: var(--stroke-width);
  border-style: solid;
  border-color: var(--color) var(--color) var(--color) transparent;
  border-radius: 50%;
  transform: rotate(0deg);
  animation:   1s infinite circle-spin-1-animation;
}

@keyframes circle-spin-1-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}