.disTitle{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 8px;
}
.date{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(126, 123, 134, 1);
}

.disName{
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.disSetting{
    color: rgba(0, 122, 255, 1);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-decoration:underline;cursor: pointer;
}