@include breakpoint-down(1190px) {
  .fieldsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: flex-start;
  }

  .fields {
    margin-left: 0;
  }
}

@include breakpoint-down(630px) {

  .dropdown {
    max-width: 100%;
  }

  .textField {
    width: 100% !important;

    &:last-child {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .cargoFields {
    grid-template-columns: 2fr 1fr;
    gap: 8px;
  }
}