.TAbleWrap{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: white;
  max-height: calc(64vh - 30px);
  padding-bottom: 40px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar-thumb{
    background-color: rgb(134, 134, 134) !important;
    border-radius: 8px;
  }
}


.TAbleWrap::-webkit-scrollbar{
  width: 5px;
  
  background-color: rgba(255, 0, 0, 0) !important;
}

.btnLoad{
  background: rgba(226, 228, 234, 1);
  font-size: 18px;
  color: rgba(33, 31, 38, 1);
  border-radius: 12px;
  width: fit-content;
  
}
.addUser{
  width: fit-content;
   padding: 8px 16px;
   border-radius: 8px;
   align-items: center;
   box-shadow: 0px 6px 12px 6px rgba(33, 31, 38, 0.14);

   .addText{
    font-weight: 600;
    white-space:nowrap;
    font-size: 18px;
   }

}

.btnAddLoad{
  border-radius: 8px;
  background-color: rgba(0, 122, 255, 1);
  color: white;
}

.countrWrap{
  p{
    font-size: 16px;
    color: rgba(33, 31, 38, 1);
    font-weight: 400;
    line-height: 25px;
    span{
      font-weight: 600;
    }
  }
}
.ActiveRadio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 31, 38, 1);
}
.radio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(126, 123, 134, 1);
}
.th {
  font-weight: 600;
  color: rgba(126, 123, 134, 1);
  font-size: 13px;
  text-transform: uppercase;
  max-width: 100%;
  // background-color: red;
//  margin-left: 5px;
  &:nth-child(1) {
    width: 300px;
    
  }
  &:nth-child(2) {
    width: 300px;
  }
  &:nth-child(3) {
    width: 250px;
    // background-color: red
  }
  &:nth-child(4) {
    width: 250px;
  }
  &:nth-child(5) {
    width: 250px;
  }
  &:nth-child(6) {
    width: 250px;
  }
  &:nth-child(7) {
    width: 250px;
  }
  
}