.countrWrap{



  p{
    font-size: 16px;
    color: rgba(33, 31, 38, 1);
    font-weight: 400;
    line-height: 25px;
    span{
      font-weight: 600;
    }
  }
}

.th {
  font-weight: 600;
  color: rgba(126, 123, 134, 1);
  font-size: 13px;
  text-transform: uppercase;
  max-width: 100%;
  .filterTitle{
    &:hover{
       color: rgba(0, 122, 255, 1);
    }

    
 }
 &:hover{
   svg{
     path{
       fill: rgba(0, 122, 255, 1) !important;
     }
   }
  }
  &:nth-child(1) {
    width: 500px;
  }
  &:nth-child(2) {
    width: 500px;
  }
  &:nth-child(3) {
    width: 500px;
  }
  &:nth-child(4) {
    width: 100%;
  }
  
}


.ActiveRadio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 31, 38, 1);
}
.radio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(126, 123, 134, 1);
}
.input{
  width: 100%;
  max-height: 44px;
  position: relative;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--brand-300);
  &:not(:placeholder-shown) {
    background-color: white; 
   
  }
  &::placeholder {
    color: var(--brand-500);
    font-weight: 400;
  }
}