.countrWrap{



  p{
    font-size: 16px;
    color: rgba(33, 31, 38, 1);
    font-weight: 400;
    line-height: 25px;
    span{
      font-weight: 600;
    }
  }
}


.order{
  border-left: 4px solid rgba(21, 186, 77, 1);
}
.blocked{
  border-left: 4px solid rgba(126, 123, 134, 1);
  opacity: 0.4;
}


.ActiveRadio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 31, 38, 1);
}
.radio{
  font-weight: 500;
  font-size: 14px;
  color: rgba(126, 123, 134, 1);
}
.input{
  width: 100%;
  max-height: 44px;
  position: relative;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--brand-300);
  &:not(:placeholder-shown) {
    background-color: white; 
   
  }
  &::placeholder {
    color: var(--brand-500);
    font-weight: 400;
  }
}