.cardWrap1 {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  margin-top: 20px;
  .header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px 16px;
    color: white;
  }
  .titleHeader {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }
  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(33, 31, 38, 1);
  }
  .subTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(126, 123, 134, 1);
    span {
      color: black;
      font-weight: 700;
    }
  }
  .subBlueTitle {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 122, 255, 1);
  }
  .statusWrap {
    background-color: rgba(0, 122, 255, 0.08);
    border-radius: 10px;
    padding: 11px 16px;
    margin-top: 14px;
  }
  .popup {
    position: relative;
    // right: 10px;
    // top: 20px;
  }
  .profileWrap {
    // padding: 16px 12px;
    // background-color: rgba(0, 122, 255, 0.08);
    // border-radius: 10px;
    width: 100%;
    margin-top: 11px;
  
    margin-bottom: 11px;
  }
  .profileWrap2 {
    border-bottom: 1px solid rgba(219, 216, 227, 1);
    padding: 16px 12px;
    // border-radius: 10px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: white;
  }
  .subTitle2 {
    font-size: 14px !important;
    line-height: 18px;
  }
  .subTitle2Blue {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 122, 255, 1);
    padding-bottom: 3px;
    text-decoration: underline;
    cursor: pointer;
  }
  .popoverCon {
    border: 1px solid rgba(234, 236, 240, 1) !important;
    background-color: red !important;
    .menuItem {
      padding: 20px 8px !important;
      font-weight: 500;
      font-size: 14px;
      background-color: rgba(0, 122, 255, 1) !important;
    }
  }
  .image {
    object-fit: cover;
    width: 165px;
    height: 120px;
    border-radius: 8px;
  }
}
