.filterBtn{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 7px;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
     font-size: 14px;
     font-weight: 600;
}