.inputWrap {
  width: 100%;
  // padding: 16px;
  background-color: rgba(246, 247, 248, 1);
  border: 1px solid rgba(208, 213, 221, 1);
  margin-top: 22px;
  border-radius: 8px;
  .filesWrap {
    margin: 16px;
    gap: 18px;
   
  }

  .textarea {
    border: none;
    font-size: 16px;
    font-weight: 600;
   
  }
}
