.kuzov {
    

    @media screen and (max-width: 775px) {
        max-width: 772px;
    }
}


.paramtersItem {
    width: 234px;


    @media screen and (max-width: 587px) {
        width: 100% !important;
    }
}


.belts {

    max-width: 234px;
    
    @media screen and (max-width: 587px) {
        max-width: 100% !important;
    }
}


.findBtn {
    width: 234px;

    @media screen and (max-width: 587px) {
        width: 100% !important;
    }

}

.permissions {


    @media screen and (max-width: 587px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

