.stageItem {
  position: relative;

  &:not(:last-child) {
    &::after {
      width: 2px;
      height: calc(100% - 8px);
      position: absolute;
      left: 12px;
      top: 28px;
      background-color: #E5E5E5;
      content: "";
    }
  }
}

.stageItem.done,
.stageItem.process {
  &::after {
    background-color: var(--primary) !important;
  }
}

.stageItem.process {
  color: var(--primary);
}

@include breakpoint-down(1190px) {
  .stages {
    position: static;
    width: 100%;
    background-color: transparent;
    margin-bottom: 24px;
  }

  .title {
    display: none;
  }

  .stagesList {
    flex-direction: row;
    overflow: auto;
  }

  .statusItem {
    flex-direction: column;
    row-gap: 8px;
    margin-top: 4px;
    height: 94px;
    overflow: hidden;
  }

  .stageItem {
    min-width: 107px;

    &:not(:last-child) {
      &::after {
        width: 2px;
        height: 70px;
        position: absolute;
        left: 60px;
        top: -18px;
        transform: rotate(90deg);
        transform-origin: center;
        background-color: #E5E5E5;
        content: "";
      }
    }
  }

}
